.App {
  text-align: center;
  padding: 20px;
}
.app__h1 {
  font-weight: 500;
}
.app__h2 {
  font-weight: 300;
  color: gray;
  font-family: Helvetica;
}

.app__form {
  padding: 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: #e9e9eb !important;
  width: -webkit-fill-available;
  margin: 20px;
  border-radius: 1rem;
  box-shadow: -5px 6px 5px -3px rgb(0 0 0 / 61%);
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__iconButton {
  flex: 0;
  color: #1481ff !important;
}

.app__input {
  flex: 1;
}

.app__footer {
  margin-top: 150px;
}
